/* ==== STRUCTURE ==== */

body {
    font-family: 'Roboto Mono', monospace;
    font-weight: 600;
    text-transform: uppercase;

    height: 100vh;
    background: #A3A3A3;
}


.title {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Press Start 2P', sans-serif;
    margin: 0;
    padding: 15px 10px;
    text-shadow: 4px 4px #fff;
}

.game-container {
    padding: 0 10%;
    position: relative;
}

.console-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;

    margin: 0 auto;
    padding: 15px 10px;
    max-width: 420px;
}

.console-info {
    display: flex;
    flex-flow: column nowrap;
}

.score {
    margin: 0;
    padding: 10px 15px;
    background: #9BC702;
    border: 3px solid #000;
    border-bottom: none;
    box-shadow: 4px 4px #000;
}

.console-btns {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.console-btns-center {  
    display: flex;
    flex-flow: column nowrap;
}

.btn {
    padding: 10px 15px;
    background: #fff;
    border: 3px solid #000;
    box-shadow: 4px 4px #000;
    font-weight: 600;
    text-transform: uppercase;
}

.btn:active {
    transform: translateY(2px);
    box-shadow: 2px 2px #000;
}

.btn-up {
    margin-bottom: 10px;
}

.btn-left {
    margin-right: 10px;
}

.btn-right {
    margin-left: 10px;
}

.btn-arrow {
    font-size: 1.5em;
    margin: 0;
}

.btn-arrow-left {
    transform: rotate(-90deg);
}

.btn-arrow-right {
    transform: rotate(90deg);
}


/* ==== SNAKE GAME ==== */

.grid {
    display: flex;
    flex-flow: row wrap;

    margin: auto;
    max-width: 420px;
    max-height: 420px;
    background: #9BC702;
    border: 3px solid #000;
    box-shadow: 4px 4px #000;
}

.square {
    /* 20 per row // matches var 'width' in main.js */
    width: 5%;
    height: 0;
    padding-bottom: 5%;
}

.snake {
    background: #000;
    box-shadow: 2px 2px #7A9B02;
}

.apple {
    background: red;
    box-shadow: 2px 2px #7A9B02;
}

.game-over {
    font-family: 'Press Start 2P', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    z-index: 1;
    text-shadow: 2px 2px #7A9B02;
}

.game-over-text {
    font-size: 2em;
    text-transform: uppercase;
    color: #fff;
}

.game-over-hidden {
    display: none;
}


/* ==== DESKTOP MEDIA QUERY ==== */

@media screen and (min-width: 770px) {

    .console-btns {
        display: none;
    }

}