.grid {
    display: flex;
    flex-flow: row wrap;

    margin: 0 auto;
    width: 400px;
    height: 400px;
    background: #9BC702;
}

.square {
    width: 10%;
    height: 0;
    padding-bottom: 10%;
}

.snake {
    background: #000;
}

.apple {
    background: red;
    border-radius: 100%;
}


@media screen and (min-width: 770px) {

    .btn {
        display: none;
    }

}